<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jk.onetoday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneToday">
        <activity android:name=".Memo_Detail_Activity"></activity>
        <activity android:name=".Memo_Write_Activity" />
        <activity android:name=".Diary_Tap1calender_Write" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Diary_Tap1calender_feel" />
        <activity android:name=".Movie_Search_Activity" />
        <activity android:name=".Movie_Add_Activity" />
        <activity android:name=".Settings_Activity" />
        <activity android:name=".SinginActivity" /> <!-- 회원가입 -->
        <activity android:name=".PasswordFindActivity" /> <!-- 비밀번호 잊어버렸을경우 -->
        <activity android:name=".LoginActivity"> <!-- 로그인 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>